In [2]:
# Import Packages

from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests

In [3]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [4]:
soup = BeautifulSoup(website_url,'lxml')

wikitable sortable

In [6]:
#Create My_table from wiki website

My_table = soup.find("table",{"class":"wikitable sortable"})
print(type(My_table))

<class 'bs4.element.Tag'>

In [7]:
# Create divs from wiki website 

divs = soup.findAll("table", {'class':'wikitable sortable'})
print(type(divs))

<class 'bs4.element.ResultSet'>

In [22]:
#Investigate divs

In [31]:
# Find Rows

for div in divs:
    rows = div.findAll('tr')

In [35]:
print(type(rows))

print(type(rows[0]))

print(rows[0].text)

print(rows[1].text)

#rows[0]

<class 'bs4.element.ResultSet'>
<class 'bs4.element.Tag'>

Postal Code

Borough

Neighborhood


M1A

Not assigned

In [40]:
# Find Column Names
# first row start with th

for row in rows[0:1]:
    
    elements = row.find_all('th')
    
    elements = [element.text.strip() for element in elements]
    
    print(elements)

['Postal Code', 'Borough', 'Neighborhood']

In [37]:
print(type(elements))

<class 'list'>

In [49]:
# Create dummy DataFrame with 3 columns

d = [[0,0,0]]

df = pd.DataFrame(data=d, columns=list('ABC'))

df

   A  B  C
0  0  0  0

In [50]:
# Find Elements in the table
# except first row start with td

for row in rows[1:]:
    
    elements = row.find_all('td')
    
    elements = [element.text.strip() for element in elements]

    row_df = pd.DataFrame([elements],columns=list('ABC'))
    
    # concat rows to df dataframe
    
    df = df.append(row_df, ignore_index=True)
    
df.head()

     A             B                 C
0    0             0                 0
1  M1A  Not assigned
2  M2A  Not assigned
3  M3A    North York         Parkwoods
4  M4A    North York  Victoria Village

In [51]:
# Drop first row

df = df.drop([0])
df.head()

     A                 B                          C
1  M1A      Not assigned
2  M2A      Not assigned
3  M3A        North York                  Parkwoods
4  M4A        North York           Victoria Village
5  M5A  Downtown Toronto  Regent Park, Harbourfront

In [52]:
# change column names

df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df.head()

  PostalCode           Borough               Neighborhood
1        M1A      Not assigned
2        M2A      Not assigned
3        M3A        North York                  Parkwoods
4        M4A        North York           Victoria Village
5        M5A  Downtown Toronto  Regent Park, Harbourfront

In [53]:
df.shape

(180, 3)

In [54]:
# Drop cells with a borough that is Not assigned.

df1 = df[df.Borough != "Not assigned"]
df1.head()

  PostalCode           Borough                                 Neighborhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [56]:
# Check nan values

df1[df1.Neighborhood == np.nan]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [57]:
df1.shape

(103, 3)

# Problem 2

In [60]:
ls

Geospatial_Coordinates.csv  Week3.ipynb

In [73]:
geo_df = pd.read_csv("Geospatial_Coordinates.csv") 
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [85]:
geo_df.rename(columns={'Postal Code':'PostalCode'},inplace=True)
geo_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [86]:
merged_df = pd.merge(df1, geo_df, on='PostalCode')

In [87]:
merged_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

# Problem 3